*{
    margin: 0;
    font-family: "Playfair";
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px 40px;
}


ul {
    display: flex;
    gap: 20px;
    list-style: none;
}


nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

nav li:last-child a {
    background-color: red;
    padding: 8px 16px;
    border-radius: 7px;

}

nav li:last-child a:hover{
    color: black;
}

.hero{
     height: 90vh;
     background: url(media/banner.png)no-repeat center/cover ;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white 
}
.hero button{
    margin-top: 15px;
    padding: 10px 20Px;
    background: red;
    color: white;
    border-radius: 15px;
    cursor: pointer;;
}
.hero button:hover{
    background: darkred;

}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap:40px;

}

.video-box  video{
    width: 100%;
    border-radius: 15px;

}

.video-text h2{
    font-size: 32px;
    margin-bottom: 15px;

}

.video-text p{
    font-size: 18px;
    color: rgb(219, 31, 21);

}
.video-text{

    flex: 1;
}
.video-box{

    flex: 1;
}
.about{
    text-align: center;
    padding: 60px 20px;
    background: rgb(240, 233, 190);
}
.about h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(84, 4, 4);

}
.about p{
    max-width: auto;
    font-size: 18px;
    color: rgb(6, 6, 74);
    line-height: 1.5;
}

.card{
    background: wheat;
    padding: 15px;
    border-radius: 20px;
}
.card img{
    width: 100%;
    object-fit: cover;

}
.card button{
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}
.card button:hover{
    background: darkred;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.icon-box img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50% ;
    border: 2px solid black;
}
.category-icons{
    display: flex;
    gap: 20px;
    padding: 20px;
   background:rgb(214, 214, 197);  
   justify-content: center; 

}
.icon-box{
    text-align: center;
    cursor: pointer;

}
.icon-box{
    margin-top: 10px;
    font-size: 15px;
}
.icon-box img:hover{
    border-color: rgb(246, 12, 12);
    transform: scale(1.1);
    
}
.icon-box p:hover{
    color: red;
    
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.item img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.cart{
    width: 100%;
    padding: 40px;

}
table{
    width: 70%;
    background: wheat;
    border-radius: 10px;
    position: sticky;
    border-collapse: collapse;
}
thead{
    text-align: center;
background: red;
}
th,td{
    padding: 20px;
    text-align: center;
}
tr{
    border-bottom:1px solid black ;
}
.item h4{
    margin-bottom: 15px;
}
.qty-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.qty-box button{
    width: 30px;
    height: 30px;
    border: none;
    background: red;
    color: wheat;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.qty-box button:hover{
    background: darkred;
}
.remove{
    background: red;
    color: white;
    border:none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.remove:hover{
    background: darkred;
}
.grand-total button{
     background: red;
    color: white;
    border:none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.grand-total button:hover{
    background: darkred;
}
.grand-total td{
    font-size: 22px;
    padding: 30px 30px;
    font-weight: bold;
}

.auth-container{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;

}
.auth-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}
.auth-box h2{
    margin-bottom: 20px;
    color: rgb(4, 4, 77);
}

.auth-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

.auth-box input:focus{
    border-color: red;
}
.auth-box button{
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;

}
.auth-box button:hover{
    background: darkred;
}
.auth-box  a{
    text-decoration: none;
    color: red;
}
.auth-box p{
    margin-top: 15px;
    font-size: 14px;
}
    